.app {
  padding: 30px;
  background-color: floralwhite;
  width: 70%;
  margin: 0 auto
  /* align-items: center;
  justify-content: center;
  display:flex; */
}

.todo {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}
